development:
  adapter: 'postgresql'
  host: 'rideonrealtime.net'
  port: 5432
  database: 'your_db_here'
  username: 'your_username'
  password: 'your_pw'
  pool: 5
  encoding: utf8
  client_encoding: utf8

production:
  adapter: 'postgresql'
  host: 'rideonrealtime.net'
  port: 5432
  database: 'your_db_here'
  username: 'your_username'
  password: 'your_pw'
  pool: 5
  encoding: utf8
  client_encoding: utf8
