development:
  adapter: 'postgresql'
  host: 'rideonrealtime.net'
  port: 5432
  database: 'your_db_here'
  username: 'your_username'
  password: 'your_pw'

production:
  adapter: 'postgresql'
  host: 'rideonrealtime.net'
  port: 5432
  database: 'your_db_here'
  username: 'your_username'
  password: 'your_pw'
